@import "tailwindcss";

@theme {
  --color-brand-pink: #FF007F;
  --color-brand-dark: #1a1a1a;
}

@layer utilities {
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
